bdist-mpkg==0.5.0
beautifulsoup4==4.5.3
bs4==0.0.1
conda==4.3.16
configparser==3.5.0
cryptography==2.1.4
cycler==0.10.0
Cython==0.27.3
Django==1.10.6
gensim==2.0.0
Jinja2==2.9.6
Keras==1.2.0
lightgbm==2.0.11
Markdown==2.6.8
matplotlib==1.5.1
mutagen==1.36
nltk==3.2.2
notebook==5.1.0
numpy==1.13.0
pandas==0.19.2
protobuf==3.4.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
regex==2017.4.5
requests==2.18.4
scikit-learn==0.18.1
scipy==0.18.1
sklearn==0.0
stemming==1.0.1
urllib3==1.22
xgboost==0.6a2
